<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" lang="en">
<head>
<title>Home</title>
</head>
<body>

	<div layout:fragment="content">
		<div class="jumbotron main-content">
			<h1>Welcome to Spring Security Basic Authentication</h1>
		</div>
		<div class="container col text-center">
			<h2>Get started quickly by login.</h2>
			<p></p>
			<a href="/login" th:href="@{/login}" class="btn btn-lg btn-success">Login</a>
		</div>
	</div>

</body>
</html>